<style>
  .logo-barcol { 
    text-align: unset; 
    margin-bottom: 0; 
    display: flex; 
    align-items: center; 
    justify-content: left; 
    flex-wrap: unset; 
    gap: 0; 
    overflow-x: auto; 
    padding: 16px 24px; /* verhoogd van 6px naar 16px verticaal */ 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    background: #f2f2f2b0; 
  }
  .logo-barcol::-webkit-scrollbar { display: none; }

  .colectitlelink {
    margin: 0;
    padding: 24px 20px; /* dikker: meer verticale ruimte */
    white-space: nowrap; 
    border-bottom: solid 2px transparent; 
    color: #00000080; 
    font-size: 18px; /* iets groter */
    font-weight: 700; 
    line-height: 20px; 
    letter-spacing: 0; 
    text-align: center; 
    text-transform: uppercase; 
    transition: all .2s ease;
  }
  .colectitlelink:hover {
    border-bottom-color: #000; 
    color: #000; 
  }

  .logcolitem {
    flex: unset; 
    margin: 0;
  }
</style>

<div class="logo-barcol">
  <div class="logcolitem">
    <a href="/collections/sandals" class="colectitlelink">SANDALS</a>
  </div>
  <div class="logcolitem">
    <a href="/collections/shoes" class="colectitlelink">SHOES</a>
  </div>
  <div class="logcolitem">
    <a href="/collections/sneakers" class="colectitlelink">SNEAKERS</a>
  </div>
  <div class="logcolitem">
    <a href="/collections/loafers" class="colectitlelink">LOAFERS</a>
  </div>
  <div class="logcolitem">
    <a href="/collections/dresses" class="colectitlelink">DRESSES</a>
  </div>
  <div class="logcolitem">
    <a href="/collections/blouses" class="colectitlelink">BLOUSES</a>
  </div>
  <div class="logcolitem">
    <a href="/collections/shirts-tops" class="colectitlelink">SHIRTS & TOPS</a>
  </div>
  <div class="logcolitem">
    <a href="/collections/jewelry" class="colectitlelink">JEWELRY</a>
  </div>
  <div class="logcolitem">
    <a href="/collections/pants" class="colectitlelink">PANTS</a>
  </div>
  <div class="logcolitem">
    <a href="/collections/bags" class="colectitlelink">BAGS</a>
  </div>
</div>
